#heading{
    font-size: 100px;
    font-family:cursive;
    color: darkcyan;
    background-color: rgb(252, 133, 48);
    font-style: italic;
    font-weight: bolder;
    text-align:center;
}

.gif.two,
.gif.three{
    height: auto;
    width: 600px;
}
.gif.one{
    height:auto;
    width:850px;
}
.list{
    font-size: 50px;
    font-family:fantasy;
    color:darkorange;
    background-color: rgb(188, 245, 242);
    font-style: italic;
    text-align:center;
}

#head{
    font-size: 100px;
    font-family:cursive;
    color: darkcyan;
    background-color: rgb(252, 133, 48);
    font-style: italic;
    font-weight: bolder;
    text-align:center;
}
#im{
    height: auto;
    width: 500px;
}
#info{
    font-size: 30px;
    font-family:cursive;
    color: rgb(24, 179, 107);
    background-color: rgb(252, 221, 48);
    font-style: italic;
}
.ing,
.pro{
    font-size: 30px;
    font-family:fantasy;
    color:darkorange;
    background-color: rgb(188, 245, 242);
    font-style: italic;
}